* {
    margin: 0;
    padding: 0;
}

body {
    background: url(background.jpg);
    background-repeat: auto;
}

/* nav {
    border-color: white;
    border: none none solid none;
} */

/* Button */

#submit {
    color: white;
    border-color: white;
}

/* Base page */

/* status */

.container-status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px 0;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    text-align: center;
    border: outset;
    border-color: white;
    width: 500px;
    height: 80px;
}


/* health */

.health {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    padding: 2%;
    width: auto;
    height: auto;
}

.health p {
    margin: 15px 10px 0 0;
    color: white;
}

.health img {
    width: 20%;
    float: left;
}

/* money */

.money {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    padding: 2%;
    width: auto;
    height: auto;
}

.money p {
    margin: 15px 10px 0 0;
    color: white;
}

.money img {
    width: 20%;
    float: left;
}

/* Index Page */

/* Start Page */
.container-start {
    padding: 40px 0 0;
    text-align: center;
    background: url(tavern.jpg)
}

/* Standart Layout */

.container {
    padding: 40px 0 0;
    text-align: center;
}

.quest-box {
    background: url(paper.jpg);
    color: white;
    font: italic 22px/30px Verdandi, serif;
    display: inline-block;
    border: solid;
    border-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    min-width: 1000px;
    max-width: 1000px;
}

.quest-box h1 {
    margin: 0 0 40px;
}

#radio-selection {
    text-align: left;
    padding: 10px 60px 0;
}

#submit-button {
    margin: 0 0 40px;
}

#picture {
    margin: 0 0 20px;
}