* {
    margin: 0;
    padding: 0;
}

body {
    background: url(background.jpg);
    background-repeat: auto;
}

/* Button */

#submit {
    color: white;
    border-color: white;
}

/* Base page */

/* status */

.container-status {
    text-align: center;
    margin: 20px;
}

.status {
    background-color: #343A40;
    display: inline-block;
    border: solid;
    border-color: white;
    width: 700px;
    height: 100px;
}


/* health */

.health {
    border: solid;
    border-color: white;
    margin: 10px;
    width: 100px;
    height: 70px;
}

.health p {
    color: white;
}

.health img {
    margin: 10px;
    float: left;
}

/* Index Page */

/* Start Page */
.container-start {
    padding: 40px 0 0;
    text-align: center;
    background: url(tavern.jpg)
}

/* Standart Layout */

.container {
    padding: 40px 0 0;
    text-align: center;
}

.quest-box {
    background: url(paper.jpg);
    color: white;
    font: italic 22px/30px Verdandi, serif;
    display: inline-block;
    border: solid;
    margin: 20px;
    padding: 20px;
    text-align: center;
    min-width: 1000px;
    max-width: 1000px;
}

.quest-box h1 {
    margin: 0 0 40px;
}

#radio-selection {
    text-align: left;
    padding: 10px 60px 0;
}

#submit-button {
    margin: 0 0 40px;
}

#picture {
    margin: 0 0 20px;
}