{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="quest-box">
        <h1>Und los!</h1>


        <p> Du schaust dem Wirt noch einmal scharf in die Augen.<br>
            Mit einem Ruck drehst du dich um und sprintest in Richtung Ausgangstür.<br>
            Dabei wirfst du zwei Stühle um und schüttest einem gut gekleideten Mann sein Bier mitten über seine Hose.<br>
            Wutendbrannt springt er auf und rennt dir hinterher!<br>
            <br>
            Du reißt die Tür auf und rennst hinaus, links, rechts, links und springst über einen Karren mit Getreidesäcken.<br>
            Du schaffst es dich in eine dunkle Gasse zu drücken, dein Verfolger war dir eben noch dicht auf den Fersen.<br>
            Doch nun versteckst du dich in der Gasse und siehst, wie dein Verfolger geradewegs am Eingang zu Gasse vorbeirennt.<br>
            <br>
            Du scheinst nochmal Glück gehabt zu haben und hast deinen Verfolger abgehängt.<br>
            <br>
            Nach kurzem Warten entscheidest du dich, wie deine Reise weitergehen soll:<br>
            <br>


        </p>

        <form method="POST">
            <div id="radio-selection">
                <input type="radio" id="option1" name="options" value="option1">
                <label for="option1">Dorf verlassen</label><br>
                <input type="radio" id="option2" name="options" value="option2">
                <label for="option2">Zum Dorfplatz gehen</label><br>
                <input type="radio" id="option3" name="options" value="option3">
                <label for="option3">Möglichkeit3</label><br><br>

                <p id="submit-button">
                    <input type="submit" class="btn btn-outline-dark" id="submit" value="Weiter">
                </p>

            </div>
        </form>

    </div>
</div>



{% endblock %}