{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="quest-box">
        <h1>Du gehst langsam auf die Person zu...</h1>


        <p> Du gesellst dich zu der Person deren Gesicht du nicht erkennen kannst, da der Mantel zu tief in deren Gesicht gezogen ist.<br>
            Die Person hebt ihr Haupt leicht und du erkennst zarte rote Lippen und bernsteinfarbene, braune Augen und Haar das schwarz wie die Nacht ist.<br><br>

            „Ich habe dieses Flugblatt gefunden, weißt du etwas darüber?“ Fragst du die junge Elfin. <br>
            Sie antwortet zögerlich: „Nein, aber die Prinzessin ist es nicht wert gerettet zu werden!“<br>
            Als du fragst warum, steht sie auf und verschwindet.<br>
            Du versuchst ihr noch hinterher zu laufen, aber als du die Tavernen Tür öffnest, ist sie verschwunden. <br>

            <br><b>Du findest dich vor der Taverne wieder.</b><br>

            <p id="submit-button">
                <input type="submit" class="btn btn-outline-dark" id="submit" value="Weiter">
            </p>




    </div>
</div>



{% endblock %}