<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <link href="static/favicon.png" rel="icon" type="image/x-icon"/>
    <title>Adventure</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark nav-margin-bottom">
        <a class="navbar-brand" href="/">Starte dein Abenteuer neu</a>
    </nav>

    <div id="container">
    {% block content %}

    {% endblock %}
    </div>

</body>
</html>