{% extends "base.html" %}

{% block content %}

<div class="container-start">

    <div class="quest-box">
        <h1>Die Reise beginnt...</h1>


        <p> Du erwachst auf dem Tresen einer örtlichen Taverne mit einem Krug in der Rechten <br> und einem Flugblatt in der linken Hand…<br>
            Beim Versuch dieses zu lesen setzen die Nachwirkungen des Mets ein…<br><br>
            Nach wenigen Augenblicken kannst du erkennen, was dort geschrieben steht: <br>
            <b>„ …rette die Prinzessin und dein Gewicht wird in Gold aufgewogen…“</b><br><br>
            Diese Worte sind genug Motivation, um deinen müden Körper zu bewegen <br> und dich auf die Suche nach der Prinzessin zu machen.<br>
            Du entdeckst ein Portrait der Dame auf der Rückseite des Flugblattes…<br>
        </p>

        <div id="picture"><img src="static/princess.png" width="25%" height="25%"></div>

        <p> Was willst du tun?</p>

        <form method="POST">
            <div id="radio-selection">
                <input type="radio" id="option1" name="options" value="option1">
                <label for="option1">Taverne verlassen</label><br>
                <input type="radio" id="option2" name="options" value="option2">
                <label for="option2">Wirt fragen</label><br>
                <input type="radio" id="option3" name="options" value="option3">
                <label for="option3">Person in einer düsteren Ecke fragen</label><br><br>

                <p id="submit-button">
                    <input type="submit" class="btn btn-outline-dark" id="submit" value="Weiter">
                </p>

            </div>
        </form>

    </div>
</div>



{% endblock %}